@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.naslov{
  text-align: center;
  font-size: 55px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1%;
  text-shadow: 2px 2px #595858;
  font-family: "Roboto", sans-serif;
  padding: 7%;
}

  .slikaTipaPozara{
    padding: 10px;
  }


a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.malatipkanazaj{
  font-size: 20px;
  color: white;
  text-transform: uppercase
  letter-spacing: 4px;
  font-family: "Roboto", sans-serif;
  vertical-align: 30px;
}


.howTO{
  font-size: 29px;
  color: white;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin-left: 50px;
  line-height: 1.8;
}

.what{
  font-size: 19px;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  line-height: 1.1;
}

.useWhat{
  font-size: 25px;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  line-height: 1.4;
}

.highlight{
  font-size: 30px;
  color: red;
}

.btn {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  width: 30%;
  height: width;
      position: fixed;
    bottom: 20px;
    right: 20px;
}


