.tekst{
	height: 100%;
	text-align: left;
	font-family: AndaleMono;
	font-size: 32px;
	padding-top: 25px;
	padding-left: 70px;
	padding-right: 40px;
	padding-bottom: 70px;
}
.generalInfo{
	border-collapse: collapse;
	margin-left: 70px;
	width: 80%;
	height: 100%;
	margin-bottom: 50px;
}
.generalInfo td{
	border: 0.25px solid;
	padding: 15px;
}
.btn-style{
	padding:20px;
	width: 70%;
}
.about-more{
	height: 100%;
}

img{
	position: absolute;
	width: 70%;
	margin-top: 50px;
	left: 0;

}
/*---Media Queries --*/
@media (max-width: 1250px) {
.btn-style{
	width:185%;
}
}

@media (max-width: 992px) {
.tekst{
	padding-left: 50px;
	padding-bottom: 50px;
	font-size: 27px;
}
.generalInfo{
	margin-left: 50px;
	height: 75%;
}
.aboutMore{
	margin-top: 0px;
}
}
@media (max-width: 768px) {
.btn-style{
	width: 75%;
}
.tekst{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20px;
	padding-bottom: 15px;
}
img{
	margin: 10px;
	position: relative;
	width: 40%;
}
.generalInfo{
	margin-right: auto;
	margin-left: auto;
}
footer{  /*ta futer nevem dat dol da bi ostal spodaj. zdaj je rono*/
  position: sticky;
}
}
@media (max-width: 576px) {
.btn-style{
	width: 90%;
	margin-bottom:35px;
}
}
