.project{
	border-collapse: collapse;
	display: inline-table;
	width: 420px;
	margin: 20px;
	box-shadow: 9px 11px;
	background-color: #EEECE0;
	font-family: Retrocycles, sans-serif;
	font-size: 20px;
}
.project td:not(.content),.project th{
	border: 0.25px solid;
	height: 54px;
	padding: 15px;
}

.project th{
	text-align: right;
}
.contentt{
	border: 0.25px solid;
	height: 300px !important;
}



/*---Media Queries --*/
@media (max-width: 992px) {
footer{
}

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
.project{
	width: 300px;
	margin: 20px;
	font-size: 17px;
}
.project td:not(.content),.project th{
	border: 0.25px solid;
	padding: 10px;
}

.contentt{
	height: 200px !important;
}
}