@font-face {
  font-family: 'Circular';		/*font-family: "Circular", sans-serif;*/
  src: url('../fonts/CircularStd-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'RobotoMono';	/*font-family: "RobotoMono", monospace;*/
  src: url('../fonts/RobotoMono-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoMonoMed';	/*font-family: "RobotoMono", monospace;*/
  src: url('../fonts/RobotoMono-Medium.ttf') format('truetype');
}

html, body{
	height: 100%
	width: 100%;
	background-color: #eeeeee;
	font-family: "RobotoMono", monospace;
	scroll-behavior: smooth;
}
a {
	color: black;
	text-decoration:none !important;
}
a:hover{
	color: #757474 !important;
}


/*Navigation bar*/
.buttonOne{
	margin-right: 10px;	
	background-color: #212121;
	border: 0.5px solid;
	color: #ffffff !important;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
.buttonOne:hover{
	background-color: #757474;
	border: 0.5px 757474;
}
.buttonTwo{	
	color: #000000 !important;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border: 0.5px solid;	
}
.buttonTwo:hover{
	background-color: #ffffff;
}

/*Header*/
h1{
	font-family: "Circular", sans-serif;
}
.socials{
	font-size: 40px;

}
.social{
	padding-right: 10px;
}
h3{
	font-family: "Circular", sans-serif;
	font-size: 25px;
	padding-bottom: 40px;
}

/*About me*/
#inner {
    margin-left: auto;
    margin-right: auto;
}
#outer {
  width:100%
}
.about_text{
	font-size: 18px;
	padding-left: 100px !important;
	padding-right: 100px !important;
}
.about_link{
	font-family: RobotoMonoMed, sans-serif;
	font-style: italic;
}
.emptyspace{
	margin-top: 200px;
}
/*Where I Woked*/
.jobTitle{
	font-size: 30px;
	font-family: RobotoMonoMed, sans-serif;
}
.jobDate{
	font-family: RobotoMonoMed, sans-serif;
	font-style: italic;
}

/*What people say bout me*/
.slide-one-item .slide blockquote {
    position: relative;
    max-width: 700px;
    font-size: 1.2rem;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    font-style: italic; }
.slide-one-item .slide cite {
    font-size: 1.2rem;
    color: #5B5B5B }

.slide-one-item .owl-dots {
	text-align: center; 
}
.slide-one-item .owl-dots .owl-dot {
	display: inline-block; 
}
.slide-one-item .owl-dots .owl-dot > span {
    margin: 7px;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%; 
}
.slide-one-item .owl-dots .owl-dot:hover > span {
    background: rgba(0, 0, 0, 0.5); 
}
.slide-one-item .owl-dots .owl-dot.active > span {
    background: #5B5B5B; 
}

/*Featured projekti*/
img{
	width: 95%;
}
.fotkaMob{
	display: none;
}
table {
  table-layout: fixed ;
  width: 100% ;
  border-collapse: separate;
  border-spacing: 10px;
}
td {
  width: 25% ;
}
.project-title{
	font-family: RobotoMonoMed, sans-serif;
	font-size: 30px;
}
.technologies{
	font-family: RobotoMonoMed, sans-serif;
	color: blue;
}
.padding{
	padding: 15px;
}
/*Contact*/
.contact{
	font-size: 50px;
}
.contact_text{
	font-family: RobotoMonoMed, sans-serif;
}
.contact_text:hover{
	color: black;
}
.emptyspaceBottom{
	margin-top: 70px;
}
#back_to_top{
  display: block;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 40px;
  cursor: pointer;
}


/*---Media Queries --*/
@media (max-width: 1500px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
h1{
	font-size: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
h2{
	font-size: 19px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.socials{
	font-size: 35px;
	padding-left: 20px;
	padding-right: 20px;
}
.social{
	padding-right: 2px;
}
/*About*/
.about_text{
	font-size: 18px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.about_text_mob{
	padding-left: 30px !important;
	padding-right: 30px !important;
}
.mnenja{
	padding-left: 30px !important;
	padding-right: 30px !important;
}
.slide-one-item .slide blockquote {
    font-size: 15px;}
.slide-one-item .slide cite {
    font-size: 15px; }

.jobTitle{
	font-size: 25px !important;
}
.contact{
	font-size: 40px;
}
.fotka{
	display: none;
}
.fotkaMob{
	display: block;
}
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
