/*
//LightMode
$background: $lightmode;
$oposite-color: $darkmode;
$text: $black;
$opo-text: $white;
$hover: $gray;
$seconday-color: $blue;
$sliderMobileBox: $white;

//DarkMode
.darkMode {
  $background: $darkmode;
  $oposite-color: $lightmode;
  $text: $white;
  $opo-text: $black;
  $hover: $gray;
  $seconday-color: $orange;
  $sliderMobileBox: $darkGray;
}
*/
html[data-theme=light] {
  --background: #eeeeee;
  --oposite-color: #212121;
  --text: #000;
  --opo-text: #fff;
  --hover: #757474;
  --seconday-color: #0000ff;
  --sliderMobileBox: #fff;
}

html[data-theme=dark] {
  --background: #212121;
  --oposite-color: #eeeeee;
  --text: #fff;
  --opo-text: #000;
  --hover: #757474;
  --seconday-color: #f2a365;
  --sliderMobileBox: #5b5b5b;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
  font-weight: 100 800;
}
/*set font using values*/
/*Body/normal text*/
a {
  color: var(--text);
  text-decoration: none !important;
  cursor: pointer;
}
a:hover {
  color: var(--hover);
}

h1 {
  font-family: "Circular", sans-serif;
  font-size: 2.5rem;
  color: var(--text);
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 62rem) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 48rem) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-family: "RobotoMono", monospace;
  font-size: 2rem;
  color: var(--text);
  font-weight: 300;
}
@media screen and (max-width: 62rem) {
  h2 {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 48rem) {
  h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-family: "Circular", sans-serif;
  font-size: 1.5rem;
  color: var(--text);
  font-weight: 400;
  margin: 0;
}

.about_link {
  font-weight: 700;
  font-style: italic;
}

.dot {
  cursor: pointer;
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--hover);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:active, .dot:hover {
  background-color: var(--oposite-color);
}
@media screen and (max-width: 48rem) {
  .dot {
    display: none;
  }
}

.dots-container {
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: var(--background);
  scroll-behavior: smooth;
  font-family: "RobotoMono", monospace;
  font-size: 1.15rem;
  color: var(--text);
  font-weight: 300;
}
@media screen and (max-width: 48rem) {
  body {
    font-size: 1rem;
  }
}
@media screen and (max-width: 62rem) {
  body {
    margin: auto 4rem;
  }
}
@media screen and (max-width: 48rem) {
  body {
    margin: auto 2rem;
  }
}

/*Postavitev*/
#all-content {
  width: 56.25rem;
  margin: 0 auto;
}
@media screen and (max-width: 62rem) {
  #all-content {
    width: 100%;
  }
}

.textOffSet {
  padding: 0 0;
}

.section-container {
  margin-bottom: 12.5rem;
}
@media screen and (max-width: 62rem) {
  .section-container {
    margin-bottom: 10rem;
  }
}

.section-title {
  padding-bottom: 2.5rem;
}

/*Navigation bar*/
nav {
  position: relative;
}

.nav-container {
  position: absolute;
  right: 0;
}

.button {
  border: 0.5px solid;
  display: inline-block;
  text-align: center;
  padding: 0.75rem;
  transition: all 0.15s;
}
@media screen and (max-width: 62rem) {
  .button {
    margin-top: 1rem;
  }
}
.button:hover {
  background-color: var(--hover);
}
.button.hideBut {
  opacity: 0;
}

.button-one {
  background-color: var(--oposite-color);
  color: var(--opo-text) !important;
}

.button-two {
  color: var(---text);
  background-color: var(--background);
}
.button-two:hover {
  background-color: var(--hover);
  color: var(--opo-text) !important;
}

/*Header*/
header {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social-container {
  display: flex;
  gap: 1.75rem;
}

.social-icon {
  height: 2rem;
}

/*Mnenja*/
@media screen and (max-width: 48rem) {
  .slide-mnenje,
  .slide-job {
    display: block !important;
    margin-bottom: 2.5rem;
    border: 1px solid;
    padding: 0.75rem;
    background-color: var(--sliderMobileBox);
  }
}
@media screen and (max-width: 48rem) {
  .slide-mnenje > p,
  .slide-job > p {
    font-style: normal;
  }
}

.slide-mnenje {
  font-style: italic;
}

@media screen and (max-width: 48rem) {
  .hideMobile {
    display: none !important;
  }
}

/*Where I Woked*/
.jobTitle {
  font-family: "RobotoMono", monospace;
  font-size: 1.75rem;
  color: var(--text);
  font-weight: 600;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 48rem) {
  .jobTitle {
    font-size: 1.5rem;
  }
}
.jobTitle > span {
  color: var(--seconday-color);
}

.jobDate {
  font-style: italic;
}

/*Contact*/
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-icon {
  height: 4rem;
}
@media screen and (max-width: 48rem) {
  .contact-icon {
    height: 2.5rem;
  }
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
}

.social-icon:hover {
  --text: var(--hover);
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */