/*@font-face {
    font-family: "Roboto";
    src: url(./res/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoLight";
    src: url(./res/Roboto-Light.ttf) format("truetype");
}
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

  .glavnaTabela{
    width: 55vw; 
    height: 34vw;
  }

.ime, ul li{ /*cant highlight*/ 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ime {
    font-size: 3.62vw;
    padding-top: 0.29vw;
    padding-left: 2.16vw;
    margin-top: 0.15vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    cursor:default;
}

.whatIDo{
    font-size: 1.9vw;
    padding-left: 2.4vw;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    vertical-align: top;
    text-align:left;
}

.email{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3vw;

  padding-left: 0.182vw;
  bottom: 0.23vw;
}

.social{
  padding-left: 2.24vw;
  padding-top: 0.49vw;
}
span + span {
    margin-left: 0.5vw;
}

ul li:hover{
  color: #6E7070;
  cursor:pointer;
}
ul li:active{
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body{   /*zamenjati ce hocem black and white + zbrisati sliko*/
  color: white;   
  background-color: black;
}

img{  /*cant drag*/
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

img:not(.me){
  -webkit-filter: invert(100%); /*zamenjati v 100% če hočem bnw*/
  filter: invert(100%);
  height: 2.5vw;
}

img:not(.me):hover{
  -webkit-filter: invert(100%) drop-shadow(0.15vw 0.08vw 0.25vw #A2A6A6) opacity(66%); /*zamenjati barvo če hočem bnw*/
  filter: invert(100%) drop-shadow(0.15vw 0.15vw 0.08vw #A2A6A6) opacity(66%) ;
  cursor:pointer;
}

img:not(.me):active{
  -webkit-filter: invert(100%) opacity(80%);
  filter: invert(100%) opacity(80%);
}

/*ZA PORAVNAVO LEVO-DESNO*/
table{
   margin-left: auto;
   margin-right: auto;
   /*margin: 0 auto; */     /*<--ali pa v eni vrstici*/
}

/*ZA PORAVNAVO GOR-DOL*/
#outer{
height:100%;
width:100%;
display:table;
vertical-align:middle;
}
#container {
text-align: center;
position:relative;
vertical-align:middle;
display:table-cell;
}

/*ZA OBROBO*/
/*
#theTabela{
  border-style: solid;
  border-color: white;
}
*/

/*Ka nedo linki dosadni*/
a, a:visited, a:hover, a:focus, a:active{
  text-decoration:none;
  color: inherit;
}
/* DRUGA MOŽNOST*//*
a { text-decoration:none;}
a:visited { color:white; }
a:hover { color:#6E7070; }
a:focus { color:white; }
a:active { color:#333333 }
*/