.project{
	border-collapse: collapse;
	display: inline-table;
	width: 420px;
	margin: 20px;
	box-shadow: 9px 11px;
	background-color: #EEECE0;
	font-family: Retrocycles, sans-serif;
	font-size: 20px;
}
.project td:not(.content),.project th{
	border: 0.25px solid;
	max-height: 54px;
	padding: 15px;
}

.project th{
	text-align: right;
}
.contentt{
	border: 0.25px solid;
	height: 300px !important;
}
.project:hover{
  background-color: #000000;
  cursor: pointer;
  outline: none;
  font-color: #DB6B5E !important; /*to ne gre*/
  box-shadow: 9px 11px #000000;
  color: #ffffff;
}
footer{
	margin-top: 40px;
}





/*custom scroll bar*/
.testP-body::-webkit-scrollbar{
  width: 25px;
}

/* Track */
.testP-body::-webkit-scrollbar-track {
  border: 1px solid;    /*box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}
 
/* Handle */
.testP-body::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
.testP-body::-webkit-scrollbar-thumb:hover {
  background: #292929; 
}



/* The Modal (skills) */
.testProjekt {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top:60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important; /* Enable scroll if needed */ /*fixed can scroll, hidden no scoll*/
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.testP-content {
  position: relative;
  overflow-y: initial !important
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
  border: 0px;
  width: auto !important;
  display: inline-block;
  padding: -30px;
  margin-left:50%;
  transform: translateX(-50%);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.testP-body{
  overflow-y: auto;
  background-color: #EEECE0;
  box-shadow: 9px 11px;
  border: 0.25px solid;

  font-family: AndaleMono;
  font-size: 20px;
  
  height: 780px;
  width: 1600px;
}
.modalTitle{
  font-family: Retrocycles;
  font-size: 40px;
  color: #000000;
  padding-left: 25px;
  padding-top: 10px;
  width: 85%;
}
.titleTabela{
	width: 100%;	
	margin-right: 20px !important;	
}
.rowT{
	width: 100%;
	border-bottom: 0.25px solid;	
}
.dateTitle{
	border-left: 0.25px solid;
	padding-left: 10px;
	width: 13%;
}
.iks{
	font-size: 35px;
	margin-right: 0px !important;
    margin-left: auto;
    padding: 10px;
    width: 5%;
}
.mobileDate{
 display: none;
}

.rowModal{
	margin-right: 35px;
	margin-left: 35px;
}
.rowFirst, .rowFirstS{
	padding-top: 50px;
}
.featuredImg{
	width: 70%;
}
.aboutProjektTab{
	width: 95%;
	margin-bottom: 40px !important;
}
.aboutProjektTab td{
	border: 0.25px solid;	
	padding: 15px;
}
.podnaslov{
	font-size: 23px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 0.25px solid;	
	padding: 5px;
	padding-left: 17px;
}
.rowP{
	margin-left: 20px;
	margin-right: 20px;	
}
.ideasImg{
  width: 75%;
  margin: 10px;
}
.infoProjektTab{
	width: 45%;
	margin-top: 20px;
}
.infoProjektTab td{
	border: 0.25px solid;	
	padding: 15px;
}
.lastElementS{
	margin-bottom: 45px;
}

.projectNav{
 	width: 100%;
 	font-family: Retrocycles,sans-serif;
 	color: #DB6B5E;
 	font-size: 25px;
 	box-shadow: 9px 11px #000000;
 	margin-bottom: 50px;
}
.projectNav td{
	border: 0.25px solid #000000;
	width: 50%;
	padding: 15px;
	padding-left: 21px;
	padding-right: 21px;
}
.projectNav td:hover{
  background-color: #000000;
  cursor: pointer;
}
.noBorder{
	border: 0px !important;
	padding-left: 0px !important;
}



/*---Media Queries --*/
@media (max-width: 1650px) {
.testP-body{
  width:1450px;
}
.featuredImg{
	width: 88%;
}
}
@media (max-width: 1500px) {
.testP-body{
  width:1250px;
  height: 650px;
}

}
@media (max-width: 1300px) {
.testP-body{
  width: 1100px;
}
.modalTitle{
  font-size: 24px;
  padding: 12px;
  width: 75%;
}
.ideasImg{
  width: 100%;
  height: auto;
}
.dateTitle{
	font-size: 14px;
}
}
@media (max-width: 1150px) {
.testP-body{
  width:940px;
}
.featuredImg{
  width:95%;
}
}

@media (max-width: 992px) {
.testProjekt {
  padding-top:64px; /* Location of the box */
}

.testP-body{
  font-size: 17px;  
  height: 600px;
  width: 700px;
}
.modalTitle{
  font-size: 25px;
  padding: 14px;
}
.titleTabela{
	margin-right: 0px !important;	
}
.text-justify{
	text-align: left !important;
}
.dateTitle{
	display: none;
}
.mobileDate{
	display: table-cell;
}
.rowT{
	width: 100%;
	border-bottom: 0.25px solid;	
}
.iks{
	font-size: 28px;
	vertical-align: text-top;
}
.rowModal{
	margin-right: 15px;
	margin-left: 15px;
}
.rowFirst{
	padding-top: 20px;
}
.rowFirstS{
	padding-top: 20px;
}
.featuredImg{
	width: 100%;
}
.aboutProjektTab{
	width: 95%;
	font-size: 14px;
}
.aboutProjektTab td{
	border: 0.25px solid;	
	padding: 10px;
}
.podnaslov{
	font-size: 19px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0.25px solid;	
	padding: 5px;
	text-align: center;
}
.rowP{
	margin-left: 10px;
	margin-right: 10px;	
}
.ideasImg{
  width: 100%;
  height: auto;
}
.infoProjektTab{
	width: 45%;
	margin-top: 15px;
	font-size: 14px;
}
.infoProjektTab td{
	border: 0.25px solid;	
	padding: 10px;
}
.lastElementS{
	margin-bottom: 45px;
}
.projectNav{
 	font-size: 19px;
 	margin-bottom: 50px;
}
.projectNav td{
	padding: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
#content1::after{
    content: "\a";
    white-space: pre;
}

}
@media (max-width: 768px) {
.testP-body{
  width: 340px;
  height: 570px;
}
}
@media (max-width: 576px) {
.project{
	width: 80%;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 20px;
	font-size: 17px;
}
.project td:not(.content),.project th{
	border: 0.25px solid;
	padding: 10px;
}
.contentt{
	height: 200px !important;
}
}






@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}