$xsm: 23.38rem; //374px
$sm: 36rem; //576px
$md: 48rem; //768px
$lg: 62rem; //992px
$xl: 75rem; //1200px
$xxl: 87.5rem; //1400px

@mixin responsive($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
