.dot {
  cursor: pointer;
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--hover);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  &:active,
  &:hover {
    background-color: var(--oposite-color);
  }
  @include responsive($md) {
    display: none;
  }
}
.dots-container {
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
