html, body{
	height: 100%
	width: 100%;
	background-color: #eee;
}
.fixed {overflow:hidden;}
.scrollit { overflow-y:scroll;}
.bottomPad{
	padding-bottom: 20px;
}
.titleText{
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	color: #000000;
	padding-top: 60px;
	padding-left: 60px;
}
.subText{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	padding-left: 60px;	
}
.projectText{
	font-family: 'Roboto Mono', monospace;
}
.aboutMe{
	font-family: 'Hind Vadodara', sans-serif;
	text-align: justify;
	font-size: 25px;
	padding-left: 60px;	
}
.social{
	font-size: 40px;
	margin-right: 50px;
	vertical-align: baseline;
	padding-bottom: 0px !important;
}
.cv{
	font-weight: 600;
	text-decoration: underline;
}
.slika{
	width: 300px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
}
.toppad{
	padding-top: 60px;
	padding-right: 60px;
}

/*---Media Queries --*/
@media (max-width: 992px) {
.titleText{
	font-family: 'Josefin Sans', sans-serif;
	padding-right: 60px;
	font-size: 50px;

}
.subText{
	padding-right: 60px;
}
.aboutMe{
	padding-right: 60px;	
}
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-height: 620px) {

}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
